/* _ul.list{
 ?
} */
.videoList-container{
    margin-top: 0.9rem;
}
ul.grid{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
}
ul.grid .item-list{
    width: 21rem;
}