.searchPage__container {
  display: flex;
}
.searchPage__container .videoItem__container {
  height: 12.5rem;
  width: 50rem;
}

.searchPage__videos-container ul {
  list-style-type: none;
}
.searchPage__videos-container ul li {
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.searchPage__videos-container .list li .videoItem__container {
  display: flex;
}

.videoItem__container h5 {
  font-size: 0.56rem;
}
