.videoItemHome__container{
    display: flex;
    margin: 0.60rem;
}
.videoItemHome__container div{
    padding: 0.30rem;
    max-width: 9.37rem;
}
.videoItemHome__container__img{
/*   background-position: center;
     background-repeat: no-repeat;
     background-size: cover; */
     width:100%;
     height: auto;

}
.videoItemHome__container h4{
    font-size: 0.80rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
.videoItemHome__container h5{
    font-size: 0.60rem;
    color: rgb(134, 128, 128);
}