.asideNav-container{
    margin-top: 1.60rem;
}
.asideNav-container a{
    text-decoration: none;
}
.asideNav-container p{
    color:#030303;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.asideNav__link-container{
    display: flex;
}
.asideNav__link-container img{
    height: 1rem;
    margin-left: 0.62rem;
}
.asideNav__link__name{
    margin-left: 1.25rem;
}