.videoItem__container {
  display: flex;
  margin: 0.62rem;
}
.videoItem__container.row {
  display: flex;
  flex-direction: row;
}

.videoItem__container.column {
  display: flex;
  flex-direction: column;
}
.videoItem__container__info{
  padding: .8rem;
}
.videoItem__container h4 {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /*  max-width: 25%; */
}
.videoItem__container h5{
  color: rgb(134, 128, 128);
 
}