header{
    height: 10%;
    padding: 0 0.62rem
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo__img {
    height: 3.12rem;
}

.header__search{
    width: 43%;
}

.header__user-buttons > nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__user-buttons > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
     
}
.header__user-buttons > ul > li {
    margin: 0 0.19rem;
} 
.header__user-buttons__icons {
    height: 1.12rem;    
}
