.DetailPage__container {
  display: flex;
}
.DetailPage__container ul {
  list-style-type: none;
}

.videoItem__container h5 {
  color: #606060;
  font-size: 0.62rem;
}
iframe {
  width: 41rem;
  height: 25rem;
}
