.history-container{
    display: flex;
}
.history-list{
    display: flex;
    list-style-type: none;
}
.history-list__item{

    min-width: 3.13rem;
    margin: 0.31rem;
    padding: 0.31rem 0.31rem;
    background-color: #f0f0f0 ;
    border: 1px solid #c4bebe;
    border-radius: 1rem;
    text-align: center;
    font-size: 0.62rem;
}
.history-list__button{
    margin: 0.31rem 
}