main{
    display: flex;
}
main .videoList-container{
    margin-left: 1.25rem;
}
/*----------------------------------------- VideoItem */
main .videoItemHome__container{
    width: 20rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;    
}